@mixin icon-button($width, $height) {
    & .button {
        height: $height;
        width: $width;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 15px;
        transition: all .5s ease;
        background-color: $button-color;

        @include center-image(100%, 100%);

        &:disabled {
            background-color: $button-color-disable;
        }

        &:hover {
            cursor: pointer;
            background-color: $button-color-hover
        }
    }
}

@mixin input-style($width) {
    .input {
        border: 2px solid transparent;
        width: $width;
        height: 2.5em;
        padding-left: 0.8em;
        outline: none;
        overflow: hidden;
        background-color: $input-background;
        border-radius: 10px;
        transition: all 0.5s;

        &:hover,
        &:focus {
            border: 2px solid #4A9DEC;
            box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
            background-color: #f4f4f4;
        }
    }
}

@mixin center-image($height, $width) {
    .image-container {
        display: flex;
        justify-content: center;
        max-height: $height;
        max-width: $width;
        overflow: hidden;

        & .image {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }
    }
}

@mixin text-button($height, $width) {
    .text-button {
        width: $width;
        height: $height;
        background-color: $button-color;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s ease;
        border: none;

        & span {
            text-align: center;
            text-overflow: ellipsis;
        }

        &:hover {
            cursor: pointer;
            background-color: rgb(104, 187, 219);
        }
    }
}