$main-background-color: #d7e9f2;
$card-background-color: #d7e9f2;
$button-color: #4c95bb;
$button-color-hover: #b2daf5;
$button-color-disable: #b2daf5;
$select-border-color: #4c95bb;
$catalog-head-background-color: #84b4d4;
$catalog-background: #b1d1e7;
$sub-main-background-color: #a9cee1;
$item-info-background-color: #a9cee1;
$bottom-background-color: #a9cee1;
$linear-card-background-color: #84b4d4;
$linear-product-card-background-color: #b1d1e7;
$header-background-color: #84b4d4;
$input-background: #d7e9f2;

$scroll-background: #d7e9f2;
$scroll-thumb: #84b4d4;
$scroll-thumb-hovered: #263239;